@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400;500;600;700&family=Kalam:wght@300&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
:root{
    /*Cores Principais*/
     --cor00: black ;
     --cor01: white;
     --cor02: #0072BA;
     --cor03: rgb(250, 3, 168);

     /*Fontes*/
     --font_principal: 'Arial','Franklin Gothic Medium' 'sans-serif';
     --font_header: 'Passion One';
     --font_text: 'Nerko One', 'Arial';
     --font_footer: 'Kalam';
}
    *{
        margin: 0px;
        padding: 0px;
        font-family: var(--font_principal);
    }
    body{
        background-image:url(../image/background_principal.jpg) ;
        background-size: cover;
        background-repeat: no-repeat;
    }


    
    .header_principal{
        width: 100vw;
        height: 30vh;
        text-align: center;  
    }
    /*.header_img{
        display: none; /*escondendo a logo da tecumseh
        position: relative;
        top: 30px;
        padding: 5px;
    }*/
    .header_img-logo{
        width: 200px;  
    }
    .header_text>h1{
        position: relative;
        top: 30px;
        font-size: 5em;
        font-family: var(--font_header);
        color: var(--cor03);
       
    }
    .section{
        position: relative;/*retirar se for colocar o logo da tecumseh*/
        top: -50px;
        width:60vw;
        height: 65vh;
        margin: auto;
        border: 2px solid var(--cor02);
        background-image: url(../image/background_center.png);
        background-size: cover;
        background-position:top center ;
        border-radius: 8px;
        box-shadow: 0px 0px 6px 10px #dc00e477;
        text-align: center;
        
    }
    .section_text-nominal{
        margin: 20px;
        font-size: 1.3em;
    }
    .section_text-nominal>p{
        font-family: var(--font_text);
        color: var(--cor03);
        font-size: 1.2em;
    }
    .section_text-nominal>p>input[type=number]{
        width: 200px; 
        font-family: var(--font_header);
        font-size: 1.1em;
        border-radius: 4px; 
    } 
    .section_text-real{
        padding: 30px;
        font-size: 1.5em;
    }   
    .section_text-real>p{
        font-family: var(--font_text);
        color: var(--cor03);
    }
    .section_text-real>p>input[type=number]{
        width: 200px; 
        font-family: var(--font_header);
        font-size: 1.1em;
        border-radius: 4px; 
    } 
   
    #calcular>input[type=button]{
        width: 200px; 
        color: var(--cor03);
        font-family: var(--font_header);
        font-size: 1.3em;
        border-radius: 4px;   
    }  
    #calcular>input[type=button]:hover{
        color: var(--cor01);
        background-color: var(--cor03);
    }
    .section_resposta{
        font-family: var(--font_header);
        color: var(--cor03);
        margin-top: 10px ;
    }
    footer{
        position: relative;
        top: -50px;
        text-align: center;
        margin-top:10px ;
        color: var(--cor02);
    }   

    













